.mySwiper {
  width: 100%;
  overflow: hidden;
}

.mySwiper .swiper-slide {
  text-align: center;
  background: #ffffff;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
